@model WorksContext
@{
	ViewData["Title"] = "Home Page";
}

<div class="container Presenting">
	<div class="row">
		<div class="col-md-6 PresentingBlok">
			<p>@File.ReadAllText("wwwroot/Text/MainText.txt")</p>
		</div>
		<div class="col-md-6 PresentingBlok">
			@{	string MainPath = "wwwroot/Images/BusinessLinkToPhoto.txt";
				string UrlToImage = null;

				if (File.Exists(MainPath))
					UrlToImage = File.ReadAllText(MainPath);
			}
			<img src="@UrlToImage">
		</div>
	</div>
</div>
<div class="container">
	@foreach (Work work in Model.Works.Where(x => x.Prestige))
	{

		<div class="row aWorks">
			<div class="col col-md-6 galerea">
				<div class="row">
					@foreach (Image image in work.Images.Take(2))
					{
						<div class="col col-md-6"><img src="@image.url" class="imgWrap"></div>
					}
				</div>
				<div class="row">
					@foreach (Image image in work.Images.Skip(2).Take(2))
					{
						<div class="col col-md-6"><img src="@image.url" class="imgWrap"></div>
					}
				</div>
			</div>
			<div class="col col-md-6">
				<h4>@work.Name</h4>
				<p>@work.Description</p>
			</div>
		</div>
	}
</div>

<div class="container BoxCooments">
	<form name="newComment">
		@Html.CreateCommentBox(
			new MyCreatorTagInput(type: "text", cssClass: "commentField", name: "Name", placeholder: "Ваше имя"),
			new MyCreatorTagInput(type: "text", cssClass: "commentField", name: "Address", placeholder: "Приблизительный адресс"),
			new MyCreatorTagTextarea(cssClass: "commentField", name: "Text", context: "", placeholder: "содержимое коментария", style: "height: 110px;"),
			new MyCreatorTagDiv(cssClass: "ErrorDiv", id: "ErrorName", context: "пустое поле имени"),
			new MyCreatorTagDiv(cssClass: "ErrorDiv", id: "ErrorText", context: "пустое поле комментария"),
			new MyCreatorTagDiv(cssClass: "OkDiv", id: "OkStatus", context: "комментарий отправлен"),
			new MyCreatorTagButton(type: "button", context: "Отправить", onClick: "PostComment()", id: "submitComment")
		)
	</form>
	<script src="~/js/ScriptForApiAddComment.js"></script>

	@foreach (Comment comment in Model.Comments.Where(x => x.Approved))
	{
		@Html.CreateCommentBox(
			new MyCreatorTagP(context: comment.Name),
			new MyCreatorTagP(context: comment.Address),
			new MyCreatorTagP(context: comment.Text)
		)
	}
</div>
