@model WorksContext
@{
	ViewData["Title"] = "Home Page";
}

<div class="container Presenting">
	<div class="row">
		<div class="col-md-6 PresentingBlok">
			<p>@File.ReadAllText("wwwroot/Text/MainText.txt")</p>
		</div>
		<div class="col-md-6 PresentingBlok">
			<img src="@File.ReadAllText("wwwroot\Images\BusinessLinkToPhoto.txt")">
		</div>
	</div>
</div>
<div class="container">
	@foreach (Work work in Model.Works.Take(3))
	{

<div class="row aWorks">
			<div class="col col-md-6 galerea">
				<div class="row">
					@foreach (Image image in work.Images.Take(2))
					{
						<div class="col col-md-6"><img src="@image.url" class="img_wrap"></div>
					}
				</div>
				<div class="row">
					@foreach (Image image in work.Images.Skip(2).Take(2))
					{
						<div class="col col-md-6"><img src="@image.url" class="img_wrap"></div>
					}
				</div>
			</div>
			<div class="col col-md-6">
				<h4>@work.Name</h4>
				<p>@work.Description</p>
			</div>
		</div>
	}
</div>

<div class="container BoxCooments">
	<div class="row coment">
		<div class="container">
			<div class="row">
				<div class="col-md-6 Name">Name</div>
				<div class="col-md-6 Adress">Adress</div>
			</div>
			<div class="row">
				<div class="col-md-12 TextComment">Text</div>
			</div>
		</div>
	</div>
</div>
